<div *ngIf="site">
	<h2><span jhiTranslate="referenceApp.site.detail.title">Site</span> {{site.id}}</h2>
	<hr>
	<jhi-alert-error></jhi-alert-error>
	<dl class="row-md jh-entity-details">
		<dt><span jhiTranslate="referenceApp.site.siteCode">Site Code</span></dt>
		<dd>
			<span>{{site.siteCode}}</span>
		</dd>
		<dt><span jhiTranslate="referenceApp.site.localOffice">Local Office</span></dt>
		<dd>
			<span>{{site.localOffice}}</span>
		</dd>
		<dt><span jhiTranslate="referenceApp.site.trustCode">Trust Code</span></dt>
		<dd>
			<span>{{site.trustCode}}</span>
		</dd>
		<dt><span jhiTranslate="referenceApp.site.siteName">Site Name</span></dt>
		<dd>
			<span>{{site.siteName}}</span>
		</dd>
		<dt><span jhiTranslate="referenceApp.site.address">Address</span></dt>
		<dd>
			<span>{{site.address}}</span>
		</dd>
		<dt><span jhiTranslate="referenceApp.site.postCode">Post Code</span></dt>
		<dd>
			<span>{{site.postCode}}</span>
		</dd>
		<dt><span jhiTranslate="referenceApp.site.siteKnownAs">Site Known As</span></dt>
		<dd>
			<span>{{site.siteKnownAs}}</span>
		</dd>
		<dt><span jhiTranslate="referenceApp.site.siteNumber">Site Number</span></dt>
		<dd>
			<span>{{site.siteNumber}}</span>
		</dd>
		<dt><span jhiTranslate="referenceApp.site.organisationalUnit">Organisational Unit</span></dt>
		<dd>
			<span>{{site.organisationalUnit}}</span>
		</dd>
	</dl>

	<button type="submit"
			(click)="previousState()"
			class="btn btn-info">
		<span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
	</button>

	<button type="button"
			[routerLink]="['/', { outlets: { popup: 'site/'+ site.id + '/edit'} }]"
			replaceUrl="true"
			class="btn btn-primary">
		<span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
	</button>
</div>
