<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

	<div class="modal-header">
		<h4 class="modal-title" id="myGradeLabel" jhiTranslate="referenceApp.grade.home.createOrEditLabel">Create or
			edit a Grade</h4>
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true"
				(click)="clear()">&times;</button>
	</div>
	<div class="modal-body">
		<jhi-alert-error></jhi-alert-error>
		<div class="form-group" [hidden]="!grade.id">
			<label for="id" jhiTranslate="global.field.id">ID</label>
			<input type="text" class="form-control" id="id" name="id"
				   [(ngModel)]="grade.id" readonly/>
		</div>
		<div class="form-group">
			<label class="form-control-label" jhiTranslate="referenceApp.grade.abbreviation" for="field_abbreviation">Abbreviation</label>
			<input type="text" class="form-control" name="abbreviation" id="field_abbreviation"
				   [(ngModel)]="grade.abbreviation"
				   required/>
			<div [hidden]="!(editForm.controls.abbreviation?.dirty && editForm.controls.abbreviation?.invalid)">
				<small class="form-text text-danger"
					   [hidden]="!editForm.controls.abbreviation?.errors?.required"
					   jhiTranslate="entity.validation.required">
					This field is required.
				</small>
			</div>
		</div>
		<div class="form-group">
			<label class="form-control-label" jhiTranslate="referenceApp.grade.name" for="field_name">Name</label>
			<input type="text" class="form-control" name="name" id="field_name"
				   [(ngModel)]="grade.name"
			/>
		</div>
		<div class="form-group">
			<label class="form-control-label" jhiTranslate="referenceApp.grade.label" for="field_label">Label</label>
			<input type="text" class="form-control" name="label" id="field_label"
				   [(ngModel)]="grade.label"
			/>
		</div>
		<div class="form-group">
			<label class="form-control-label" jhiTranslate="referenceApp.grade.trainingGrade" for="field_trainingGrade">Training
				Grade</label>
			<input type="checkbox" class="form-control" name="trainingGrade" id="field_trainingGrade"
				   [(ngModel)]="grade.trainingGrade"
			/>
			<div [hidden]="!(editForm.controls.trainingGrade?.dirty && editForm.controls.trainingGrade?.invalid)">
				<small class="form-text text-danger"
					   [hidden]="!editForm.controls.trainingGrade?.errors?.required"
					   jhiTranslate="entity.validation.required">
					This field is required.
				</small>
			</div>
		</div>
		<div class="form-group">
			<label class="form-control-label" jhiTranslate="referenceApp.grade.postGrade" for="field_postGrade">Post
				Grade</label>
			<input type="checkbox" class="form-control" name="postGrade" id="field_postGrade"
				   [(ngModel)]="grade.postGrade"
			/>
			<div [hidden]="!(editForm.controls.postGrade?.dirty && editForm.controls.postGrade?.invalid)">
				<small class="form-text text-danger"
					   [hidden]="!editForm.controls.postGrade?.errors?.required"
					   jhiTranslate="entity.validation.required">
					This field is required.
				</small>
			</div>
		</div>
		<div class="form-group">
			<label class="form-control-label" jhiTranslate="referenceApp.grade.placementGrade"
				   for="field_placementGrade">Placement Grade</label>
			<input type="checkbox" class="form-control" name="placementGrade" id="field_placementGrade"
				   [(ngModel)]="grade.placementGrade"
			/>
			<div [hidden]="!(editForm.controls.placementGrade?.dirty && editForm.controls.placementGrade?.invalid)">
				<small class="form-text text-danger"
					   [hidden]="!editForm.controls.placementGrade?.errors?.required"
					   jhiTranslate="entity.validation.required">
					This field is required.
				</small>
			</div>
		</div>

	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
			<span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
		</button>
		<button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
			<span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
		</button>
	</div>
</form>
