<div>
	<h2>
		<span jhiTranslate="referenceApp.title.home.title">Titles</span>
		<button class="btn btn-primary float-right create-title"
				[routerLink]="['/', { outlets: { popup: ['title-new'] } }]">
			<span class="fa fa-plus"></span>
			<span jhiTranslate="referenceApp.title.home.createLabel">
            Create new Title
            </span>
		</button>
	</h2>
	<jhi-alert></jhi-alert>
	<div class="row">
	</div>
	<br/>
	<div class="table-responsive" *ngIf="titles">
		<table class="table table-striped">
			<thead>
			<tr>
				<th><span jhiTranslate="global.field.id">ID</span></th>
				<th><span jhiTranslate="referenceApp.title.code">Code</span></th>
				<th><span jhiTranslate="referenceApp.title.label">Label</span></th>
				<th></th>
			</tr>
			</thead>
			<tbody>
			<tr *ngFor="let title of titles ;trackBy: trackId">
				<td><a [routerLink]="['../title', title.id ]">{{title.id}}</a></td>
				<td>{{title.code}}</td>
				<td>{{title.label}}</td>
				<td class="text-right">
					<div class="btn-group flex-btn-group-container">
						<button type="submit"
								[routerLink]="['../title', title.id ]"
								class="btn btn-info btn-sm">
							<span class="fa fa-eye"></span>
							<span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
						</button>
						<button type="submit"
								[routerLink]="['/', { outlets: { popup: 'title/'+ title.id + '/edit'} }]"
								replaceUrl="true"
								class="btn btn-primary btn-sm">
							<span class="fa fa-pencil"></span>
							<span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
						</button>
						<button type="submit"
								[routerLink]="['/', { outlets: { popup: 'title/'+ title.id + '/delete'} }]"
								replaceUrl="true"
								class="btn btn-danger btn-sm">
							<span class="fa fa-remove"></span>
							<span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
						</button>
					</div>
				</td>
			</tr>
			</tbody>
		</table>
	</div>
</div>
