<div *ngIf="curriculumSubType">
	<h2><span jhiTranslate="referenceApp.curriculumSubType.detail.title">Curriculum Sub Type</span>
		{{curriculumSubType.id}}</h2>
	<hr>
	<jhi-alert-error></jhi-alert-error>
	<dl class="row-md jh-entity-details">
		<dt><span jhiTranslate="referenceApp.curriculumSubType.code">Code</span></dt>
		<dd>
			<span>{{curriculumSubType.code}}</span>
		</dd>
		<dt><span jhiTranslate="referenceApp.curriculumSubType.label">Label</span></dt>
		<dd>
			<span>{{curriculumSubType.label}}</span>
		</dd>
	</dl>

	<button type="submit"
			(click)="previousState()"
			class="btn btn-info">
		<span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
	</button>

	<button type="button"
			[routerLink]="['/', { outlets: { popup: 'curriculum-sub-type/'+ curriculumSubType.id + '/edit'} }]"
			replaceUrl="true"
			class="btn btn-primary">
		<span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
	</button>
</div>
