<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

	<div class="modal-header">
		<h4 class="modal-title" id="mySiteLabel" jhiTranslate="referenceApp.site.home.createOrEditLabel">Create or edit
			a Site</h4>
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true"
				(click)="clear()">&times;</button>
	</div>
	<div class="modal-body">
		<jhi-alert-error></jhi-alert-error>
		<div class="form-group" [hidden]="!site.id">
			<label for="id" jhiTranslate="global.field.id">ID</label>
			<input type="text" class="form-control" id="id" name="id"
				   [(ngModel)]="site.id" readonly/>
		</div>
		<div class="form-group">
			<label class="form-control-label" jhiTranslate="referenceApp.site.siteCode" for="field_siteCode">Site
				Code</label>
			<input type="text" class="form-control" name="siteCode" id="field_siteCode"
				   [(ngModel)]="site.siteCode"
				   required/>
			<div [hidden]="!(editForm.controls.siteCode?.dirty && editForm.controls.siteCode?.invalid)">
				<small class="form-text text-danger"
					   [hidden]="!editForm.controls.siteCode?.errors?.required"
					   jhiTranslate="entity.validation.required">
					This field is required.
				</small>
			</div>
		</div>
		<div class="form-group">
			<label class="form-control-label" jhiTranslate="referenceApp.site.siteName" for="field_siteName">Site
				Name</label>
			<input type="text" class="form-control" name="siteName" id="field_siteName"
				   [(ngModel)]="site.siteName"
			/>
		</div>
		<div class="form-group">
			<label class="form-control-label" jhiTranslate="referenceApp.site.address"
				   for="field_address">Address</label>
			<input type="text" class="form-control" name="address" id="field_address"
				   [(ngModel)]="site.address"
			/>
		</div>
		<div class="form-group">
			<label class="form-control-label" jhiTranslate="referenceApp.site.postCode" for="field_postCode">Post
				Code</label>
			<input type="text" class="form-control" name="postCode" id="field_postCode"
				   [(ngModel)]="site.postCode"
			/>
		</div>
		<div class="form-group">
			<label class="form-control-label" jhiTranslate="referenceApp.site.siteKnownAs" for="field_siteKnownAs">Site
				Known As</label>
			<input type="text" class="form-control" name="siteKnownAs" id="field_siteKnownAs"
				   [(ngModel)]="site.siteKnownAs"
			/>
		</div>
		<div class="form-group">
			<label class="form-control-label" jhiTranslate="referenceApp.site.siteNumber" for="field_siteNumber">Site
				Number</label>
			<input type="text" class="form-control" name="siteNumber" id="field_siteNumber"
				   [(ngModel)]="site.siteNumber"
			/>
		</div>
		<div class="form-group">
			<label class="form-control-label" jhiTranslate="referenceApp.site.organisationalUnit"
				   for="field_organisationalUnit">Organisational Unit</label>
			<input type="text" class="form-control" name="organisationalUnit" id="field_organisationalUnit"
				   [(ngModel)]="site.organisationalUnit"
			/>
		</div>

		<div class="form-group">
			<label jhiTranslate="referenceApp.site.localOffice" for="field_localOffice">Local Office</label>
			<select class="form-control" id="field_localOffice" name="localOffice" [(ngModel)]="site.localOfficeId">
				<option [ngValue]="null"></option>
				<option [ngValue]="localOfficeOption.id"
						*ngFor="let localOfficeOption of localoffices; trackBy: trackLocalOfficeById">
					{{localOfficeOption.id}}
				</option>
			</select>
		</div>
		<div class="form-group">
			<label jhiTranslate="referenceApp.site.trustCode" for="field_trustCode">Trust Code</label>
			<select class="form-control" id="field_trustCode" name="trustCode" [(ngModel)]="site.trustCodeId">
				<option [ngValue]="null"></option>
				<option [ngValue]="trustOption.id" *ngFor="let trustOption of trusts; trackBy: trackTrustById">
					{{trustOption.id}}
				</option>
			</select>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
			<span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
		</button>
		<button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
			<span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
		</button>
	</div>
</form>
