<div *ngIf="trust">
	<h2><span jhiTranslate="referenceApp.trust.detail.title">Trust</span> {{trust.id}}</h2>
	<hr>
	<jhi-alert-error></jhi-alert-error>
	<dl class="row-md jh-entity-details">
		<dt><span jhiTranslate="referenceApp.trust.code">Code</span></dt>
		<dd>
			<span>{{trust.code}}</span>
		</dd>
		<dt><span jhiTranslate="referenceApp.trust.localOffice">Local Office</span></dt>
		<dd>
			<span>{{trust.localOffice}}</span>
		</dd>
		<dt><span jhiTranslate="referenceApp.trust.status">Status</span></dt>
		<dd>
			<span>{{trust.status}}</span>
		</dd>
		<dt><span jhiTranslate="referenceApp.trust.trustKnownAs">Trust Known As</span></dt>
		<dd>
			<span>{{trust.trustKnownAs}}</span>
		</dd>
		<dt><span jhiTranslate="referenceApp.trust.trustName">Trust Name</span></dt>
		<dd>
			<span>{{trust.trustName}}</span>
		</dd>
		<dt><span jhiTranslate="referenceApp.trust.trustNumber">Trust Number</span></dt>
		<dd>
			<span>{{trust.trustNumber}}</span>
		</dd>
		<dt><span jhiTranslate="referenceApp.trust.address">Address</span></dt>
		<dd>
			<span>{{trust.address}}</span>
		</dd>
		<dt><span jhiTranslate="referenceApp.trust.postCode">Post Code</span></dt>
		<dd>
			<span>{{trust.postCode}}</span>
		</dd>
	</dl>

	<button type="submit"
			(click)="previousState()"
			class="btn btn-info">
		<span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
	</button>

	<button type="button"
			[routerLink]="['/', { outlets: { popup: 'trust/'+ trust.id + '/edit'} }]"
			replaceUrl="true"
			class="btn btn-primary">
		<span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
	</button>
</div>
