<div>
	<h2>
		<span jhiTranslate="referenceApp.trust.home.title">Trusts</span>
		<button class="btn btn-primary float-right create-trust"
				[routerLink]="['/', { outlets: { popup: ['trust-new'] } }]">
			<span class="fa fa-plus"></span>
			<span jhiTranslate="referenceApp.trust.home.createLabel">
            Create new Trust
            </span>
		</button>
	</h2>
	<jhi-alert></jhi-alert>
	<div class="row">
	</div>
	<br/>
	<div class="table-responsive" *ngIf="trusts">
		<table class="table table-striped">
			<thead>
			<tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
				<th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
				<th jhiSortBy="code"><span jhiTranslate="referenceApp.trust.code">Code</span> <span
						class="fa fa-sort"></span></th>
				<th jhiSortBy="localOffice"><span jhiTranslate="referenceApp.trust.localOffice">Local Office</span>
					<span class="fa fa-sort"></span></th>
				<th jhiSortBy="status"><span jhiTranslate="referenceApp.trust.status">Status</span> <span
						class="fa fa-sort"></span></th>
				<th jhiSortBy="trustKnownAs"><span jhiTranslate="referenceApp.trust.trustKnownAs">Trust Known As</span>
					<span class="fa fa-sort"></span></th>
				<th jhiSortBy="trustName"><span jhiTranslate="referenceApp.trust.trustName">Trust Name</span> <span
						class="fa fa-sort"></span></th>
				<th jhiSortBy="trustNumber"><span jhiTranslate="referenceApp.trust.trustNumber">Trust Number</span>
					<span class="fa fa-sort"></span></th>
				<th jhiSortBy="address"><span jhiTranslate="referenceApp.trust.address">Address</span> <span
						class="fa fa-sort"></span></th>
				<th jhiSortBy="postCode"><span jhiTranslate="referenceApp.trust.postCode">Post Code</span> <span
						class="fa fa-sort"></span></th>
				<th></th>
			</tr>
			</thead>
			<tbody>
			<tr *ngFor="let trust of trusts ;trackBy: trackId">
				<td><a [routerLink]="['../trust', trust.id ]">{{trust.id}}</a></td>
				<td>{{trust.code}}</td>
				<td>{{trust.localOffice}}</td>
				<td>{{trust.status}}</td>
				<td>{{trust.trustKnownAs}}</td>
				<td>{{trust.trustName}}</td>
				<td>{{trust.trustNumber}}</td>
				<td>{{trust.address}}</td>
				<td>{{trust.postCode}}</td>
				<td class="text-right">
					<div class="btn-group flex-btn-group-container">
						<button type="submit"
								[routerLink]="['../trust', trust.id ]"
								class="btn btn-info btn-sm">
							<span class="fa fa-eye"></span>
							<span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
						</button>
						<button type="submit"
								[routerLink]="['/', { outlets: { popup: 'trust/'+ trust.id + '/edit'} }]"
								replaceUrl="true"
								class="btn btn-primary btn-sm">
							<span class="fa fa-pencil"></span>
							<span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
						</button>
						<button type="submit"
								[routerLink]="['/', { outlets: { popup: 'trust/'+ trust.id + '/delete'} }]"
								replaceUrl="true"
								class="btn btn-danger btn-sm">
							<span class="fa fa-remove"></span>
							<span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
						</button>
					</div>
				</td>
			</tr>
			</tbody>
		</table>
	</div>
	<div *ngIf="trusts && trusts.length">
		<div class="row justify-content-center">
			<jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
		</div>
		<div class="row justify-content-center">
			<ngb-pagination [collectionSize]="totalItems" [(page)]="page"
							(pageChange)="loadPage(page)"></ngb-pagination>
		</div>
	</div>
</div>
