<div *ngIf="college">
	<h2><span jhiTranslate="referenceApp.college.detail.title">College</span> {{college.id}}</h2>
	<hr>
	<jhi-alert-error></jhi-alert-error>
	<dl class="row-md jh-entity-details">
		<dt><span jhiTranslate="referenceApp.college.abbreviation">Abbreviation</span></dt>
		<dd>
			<span>{{college.abbreviation}}</span>
		</dd>
		<dt><span jhiTranslate="referenceApp.college.name">Name</span></dt>
		<dd>
			<span>{{college.name}}</span>
		</dd>
	</dl>

	<button type="submit"
			(click)="previousState()"
			class="btn btn-info">
		<span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
	</button>

	<button type="button"
			[routerLink]="['/', { outlets: { popup: 'college/'+ college.id + '/edit'} }]"
			replaceUrl="true"
			class="btn btn-primary">
		<span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
	</button>
</div>
