<div *ngIf="grade">
	<h2><span jhiTranslate="referenceApp.grade.detail.title">Grade</span> {{grade.id}}</h2>
	<hr>
	<jhi-alert-error></jhi-alert-error>
	<dl class="row-md jh-entity-details">
		<dt><span jhiTranslate="referenceApp.grade.abbreviation">Abbreviation</span></dt>
		<dd>
			<span>{{grade.abbreviation}}</span>
		</dd>
		<dt><span jhiTranslate="referenceApp.grade.name">Name</span></dt>
		<dd>
			<span>{{grade.name}}</span>
		</dd>
		<dt><span jhiTranslate="referenceApp.grade.label">Label</span></dt>
		<dd>
			<span>{{grade.label}}</span>
		</dd>
		<dt><span jhiTranslate="referenceApp.grade.trainingGrade">Training Grade</span></dt>
		<dd>
			<span>{{grade.trainingGrade}}</span>
		</dd>
		<dt><span jhiTranslate="referenceApp.grade.postGrade">Post Grade</span></dt>
		<dd>
			<span>{{grade.postGrade}}</span>
		</dd>
		<dt><span jhiTranslate="referenceApp.grade.placementGrade">Placement Grade</span></dt>
		<dd>
			<span>{{grade.placementGrade}}</span>
		</dd>
	</dl>

	<button type="submit"
			(click)="previousState()"
			class="btn btn-info">
		<span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
	</button>

	<button type="button"
			[routerLink]="['/', { outlets: { popup: 'grade/'+ grade.id + '/edit'} }]"
			replaceUrl="true"
			class="btn btn-primary">
		<span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
	</button>
</div>
