<div *ngIf="localOffice">
	<h2><span jhiTranslate="referenceApp.localOffice.detail.title">Local Office</span> {{localOffice.id}}</h2>
	<hr>
	<jhi-alert-error></jhi-alert-error>
	<dl class="row-md jh-entity-details">
		<dt><span jhiTranslate="referenceApp.localOffice.abbreviation">Abbreviation</span></dt>
		<dd>
			<span>{{localOffice.abbreviation}}</span>
		</dd>
		<dt><span jhiTranslate="referenceApp.localOffice.name">Name</span></dt>
		<dd>
			<span>{{localOffice.name}}</span>
		</dd>
	</dl>

	<button type="submit"
			(click)="previousState()"
			class="btn btn-info">
		<span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
	</button>

	<button type="button"
			[routerLink]="['/', { outlets: { popup: 'local-office/'+ localOffice.id + '/edit'} }]"
			replaceUrl="true"
			class="btn btn-primary">
		<span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
	</button>
</div>
