<div *ngIf="inactiveReason">
	<h2><span jhiTranslate="referenceApp.inactiveReason.detail.title">Inactive Reason</span> {{inactiveReason.id}}</h2>
	<hr>
	<jhi-alert-error></jhi-alert-error>
	<dl class="row-md jh-entity-details">
		<dt><span jhiTranslate="referenceApp.inactiveReason.code">Code</span></dt>
		<dd>
			<span>{{inactiveReason.code}}</span>
		</dd>
		<dt><span jhiTranslate="referenceApp.inactiveReason.label">Label</span></dt>
		<dd>
			<span>{{inactiveReason.label}}</span>
		</dd>
	</dl>

	<button type="submit"
			(click)="previousState()"
			class="btn btn-info">
		<span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
	</button>

	<button type="button"
			[routerLink]="['/', { outlets: { popup: 'inactive-reason/'+ inactiveReason.id + '/edit'} }]"
			replaceUrl="true"
			class="btn btn-primary">
		<span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
	</button>
</div>
