<div *ngIf="leavingDestination">
	<h2><span jhiTranslate="referenceApp.leavingDestination.detail.title">Leaving Destination</span>
		{{leavingDestination.id}}</h2>
	<hr>
	<jhi-alert-error></jhi-alert-error>
	<dl class="row-md jh-entity-details">
		<dt><span jhiTranslate="referenceApp.leavingDestination.code">Code</span></dt>
		<dd>
			<span>{{leavingDestination.code}}</span>
		</dd>
		<dt><span jhiTranslate="referenceApp.leavingDestination.label">Label</span></dt>
		<dd>
			<span>{{leavingDestination.label}}</span>
		</dd>
	</dl>

	<button type="submit"
			(click)="previousState()"
			class="btn btn-info">
		<span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
	</button>

	<button type="button"
			[routerLink]="['/', { outlets: { popup: 'leaving-destination/'+ leavingDestination.id + '/edit'} }]"
			replaceUrl="true"
			class="btn btn-primary">
		<span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
	</button>
</div>
