<div>
	<h2>
		<span jhiTranslate="referenceApp.dBC.home.title">DBCS</span>
		<button class="btn btn-primary float-right create-dbc"
				[routerLink]="['/', { outlets: { popup: ['dbc-new'] } }]">
			<span class="fa fa-plus"></span>
			<span jhiTranslate="referenceApp.dBC.home.createLabel">
            Create new DBC
            </span>
		</button>
	</h2>
	<jhi-alert></jhi-alert>
	<div class="row">
	</div>
	<br/>
	<div class="table-responsive" *ngIf="dBCS">
		<table class="table table-striped">
			<thead>
			<tr>
				<th><span jhiTranslate="global.field.id">ID</span></th>
				<th><span jhiTranslate="referenceApp.dBC.dbc">Dbc</span></th>
				<th><span jhiTranslate="referenceApp.dBC.name">Name</span></th>
				<th><span jhiTranslate="referenceApp.dBC.abbr">Abbr</span></th>
				<th></th>
			</tr>
			</thead>
			<tbody>
			<tr *ngFor="let dBC of dBCS ;trackBy: trackId">
				<td><a [routerLink]="['../dbc', dBC.id ]">{{dBC.id}}</a></td>
				<td>{{dBC.dbc}}</td>
				<td>{{dBC.name}}</td>
				<td>{{dBC.abbr}}</td>
				<td class="text-right">
					<div class="btn-group flex-btn-group-container">
						<button type="submit"
								[routerLink]="['../dbc', dBC.id ]"
								class="btn btn-info btn-sm">
							<span class="fa fa-eye"></span>
							<span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
						</button>
						<button type="submit"
								[routerLink]="['/', { outlets: { popup: 'dbc/'+ dBC.id + '/edit'} }]"
								replaceUrl="true"
								class="btn btn-primary btn-sm">
							<span class="fa fa-pencil"></span>
							<span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
						</button>
						<button type="submit"
								[routerLink]="['/', { outlets: { popup: 'dbc/'+ dBC.id + '/delete'} }]"
								replaceUrl="true"
								class="btn btn-danger btn-sm">
							<span class="fa fa-remove"></span>
							<span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
						</button>
					</div>
				</td>
			</tr>
			</tbody>
		</table>
	</div>
</div>
